<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!-- Add COnfig info-->
  <appSettings>
    <!-- add provider similar to p.815-->
    <add key="provider1" value="SqlServer"/>
    
    <!-- diff provider + connection string p.826-->
    <add key="provider2" value="System.Data.SqlClient" />
    <add key="connectionString2" value="Data Source=(localdb)\msqllocaldb;
         Initial Catalog=AutoLot; Integrated Security=True" />
    
    <!-- page 827 - 828-->
    <add key="provider3" value="System.Data.Oledb"/>
    <add key="connectionString3" value="Provider=SQLNCI11=SSPI;
         DataSource=(localdb)\msqllocaldb; Integrated Security=SSPI;
         Initial Catalog=Autolot" />
  </appSettings>
  
  <connectionStrings>
    <add name="AutolotSqlProvider" connectionString=
         "Data Source=(localdb)\msqllocaldb; Integrated Security=True;
         Initial Catalog=Autolot" />
    
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCI11=SSPI;
         DataSource=(localdb)\msqllocaldb; Integrated Security=SSPI;
         Initial Catalog=Autolot"/>
  </connectionStrings>
</configuration>